<br>
<fieldset><legend style="font-size: 20px">Activity-PLAN</legend>
<form class="create-membership-body">
   
    <div fxLayout="row wrap" fxLayoutGap="1.5em" style="margin-left: 1.5em;">
    
        <mat-form-field class="create-membership-body-input" appearance="outline"  fxFlex="30">
            <mat-label style="color: black;">day</mat-label>
            <input matInput required  [(ngModel)]="activityCredential.day" [ngModelOptions]="{standalone: true}" placeholder="day" minlength="4" pattern="^[A-Za-z_ ]*" maxlength="10"> 
        </mat-form-field>
        <mat-form-field class="create-membership-body-input" appearance="outline"  fxFlex="30">
            <mat-label style="color: black;">workouts</mat-label>
            <input matInput  required  [(ngModel)]="activityCredential.workouts" [ngModelOptions]="{standalone: true}" placeholder="workout" minlength="4" maxlength="20" pattern="[a-zA-Z ]*">
        </mat-form-field>
    </div>
    <div style="margin-left: 1.5em;"><button mat-flat-button  class="registration-button" style="color: green;" (click)="onCreate(activityCredential.id)" >Update</button> &nbsp;&nbsp;
    <button mat-flat-button  class="registration-button" style="color: tomato;" (click)="close()"> cancel</button></div>
</form>
</fieldset>