.registration-button{
    width: 9em;
    height: 3em;
    border-radius: 0.5em;
    background-color: orange;
    font-weight: 600;
    cursor: pointer;
    opacity: 60%;
    margin-top: 1em;
    margin-left: 500px;
   
  }
  /* .background{
   background-image: url("../../assets/diets.jpeg");
  } */
  .input{
    margin-left: 400px;
  }
  .input1{
    margin-left: 400px;
  }