<router-outlet></router-outlet>
<!-- <form action="">
   
    <h2 class="page">Create Member</h2>
    
<div>
    
    <mat-form-field class="name" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">Name</mat-label>
        <input matInput type="text" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="Name">  
    </mat-form-field>


    <mat-form-field class="email" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">email</mat-label>
        <input matInput type="text" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="email">  
    </mat-form-field>

    <mat-form-field class="contact" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">Contact</mat-label>
        <input matInput type="number" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="contact">  
    </mat-form-field>
  

  
</div>
<div>
    <mat-form-field class="gender" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">gender</mat-label>
        <input matInput type="text" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="gender">  
    </mat-form-field>

    <mat-form-field class="height" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">height</mat-label>
        <input matInput type="number" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="height">  
    </mat-form-field>
    
    <mat-form-field class="weight" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">weight</mat-label>
        <input matInput type="number" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="weight">  
    </mat-form-field>
</div>
<div>
    <mat-form-field class="age" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">age</mat-label>
        <input matInput type="number" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="age">  
    </mat-form-field>
    
    <mat-form-field class="joiningDate" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">joiningDate</mat-label>
        <input matInput type="number" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="joiningDate">  
    </mat-form-field>
    
    <mat-form-field class="status" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">status</mat-label>
        <input matInput type="datetime" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="status">  
    </mat-form-field>
</div>
<div>
    <mat-form-field class="gymplan" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">gymplan</mat-label>
        <input matInput type="text" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="gymplan">  
    </mat-form-field>


    <mat-form-field class="address" appearance="outline"  fxFlex="30">
        <mat-label style="color: black;">address</mat-label>
        <input matInput type="text" required ngth="4" pattern="^[A-Za-z_ ]*" placeholder="address">  
    </mat-form-field>
    
    
</div>

<div >
    <button mat-flat-button  class="registration-button"  >REGISTR</button>
</div> 
</form> -->